/* google font style */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

/* Root Layout */
.root-layout {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: #a3d0d6;

}

.root-layout h1 {
  color: #f1356d;
}

.root-layout .navLinks {
  margin-left: auto;
}

.root-layout a {
  margin-left: 16px;
  margin-right: 20px;
  text-decoration: none;
  padding: 0px;
}

.root-layout a:hover {
  color: #f1356d;
}


/*Home Page*/
.home {
  position: absolute;
  top: 150px;
  left: 1220px;
  scale: 2;
}

.links {
  position: absolute;
  top: 240px;
  left: 1040px;
  scale: 2;
}

/*About Page*/
.about h2 {
  margin-left: 20px;
  position:absolute;
  top: 100px;
  left: 20px;
}


/*Jane Hopkins Page*/
.jane-hopkins{
  position: absolute;
  top: 100px;
  left: 20px;
}

.jane-hopkins h2 {
  margin-left: auto;
  border-bottom: 1px solid #838383;
}

.jane-hopkins body {
  position:relative;
  top: 0px;
  left: 0px;
}

/*FDA Page*/
.fda{
  position: absolute;
  top: 100px;
  left: 20px;
}

.fda h2 {
  margin-left: auto;
  border-bottom: 1px solid #838383;
}

.fda body {
  position:relative;
  top: 0px;
  left: 0px;
}

/*Bavaria Page*/
.bavaria{
  position: absolute;
  top: 100px;
  left: 20px;
}

.bavaria h2 {
  margin-left: auto;
  border-bottom: 1px solid #838383;
}

.bavaria body {
  position:relative;
  top: 0px;
  left: 0px;
}
